<%- include header %>
<form action="" method="post">
  title: <br/>
  <input type="text" name="title"/><br/>
  Tags: <br>
  <input type="text" name="tag1"> <input type="text" name="tag2"> <input type="text" name="tag3"><br>
  body: <br/>
  <textarea name="post" id="" cols="100" rows="20"></textarea><br/>
  <input type="submit" value="submit"/>
</form>
<%- include footer %>
